<form method="get" id="rep-chooser">
  <input type="hidden" name="address" value="<%= params[:address] %>" />
  <fieldset class="form-group">
    <legend>Your Representatives (choose one to call first)</legend>
    <div class="btn-group" data-toggle="buttons">
      <div class="form-check">
	<% representatives.each do |rep| %>
	  <label class="form-check-label btn btn-primary
			<% if Call.find_by_calling_script_id_and_user_id_and_rep_id(@calling_script.id, (@current_user.try(:id) || @request.remote_ip), rep.bioguide_id) %>
			  disabled <% end %>    ">
	    <input type="radio" class="form-check-input" value="<%= 
								rep.bioguide_id %>" name="rep_id">
	    <img src="http://res.cloudinary.com/dm0czpc8q/image/facebook/c_thumb,e_improve,g_face,h_90,r_max,w_90/<%= rep.facebook_id %>.png" />
	    <%= rep.display_name %>
	  </label>
	<% end %>
      </div>
    </div>
  </fieldset>
  <input type="hidden" name="address" value="<%= params[:address] %>" />
  <input type="hidden" name="name" value="<%= params[:name] %>" />
</form>
