<% unless smart_listing.empty? %>
  <div class='btn-group sort-links mvm' role='group'bb aria-label="Sort scripts">
    <%= smart_listing.sortable "Number of Calls", :calls_count %>
    <%= smart_listing.sortable "Topic", :topic %>
    <%= smart_listing.sortable "Date", :created_at, :class => 'btn' %>
  </div>
<% end %>

<div id="script-list">
  <% smart_listing.collection.each do |calling_script| %>
    <%= render 'script', :calling_script => calling_script, :uid => @uid %>
  <% end %>
</div>

<%= smart_listing.paginate %>

