<div class='row row-striped'>
  <div class='col-xs-7 mvm'>
    <h3>
      <%= link_to calling_script.topic, script_path(calling_script) %>
    </h3>
    <a href="<%= script_path(calling_script) %>">
      <%= (simple_format calling_script.summary) %>
    </a>
    <p>
      <small class="text-muted">
	<%= calling_script.created_at.strftime("%B %e, %Y") %>
      </small>
    </p>
  </div>

  <div class='col-xs-5'>
    <div class='row'>
      <div class='col-sm-5 mvm'>
        <div class='row label label-primary call-numbers'>
	  <div class='col-xs-12 col-md-3'>
            <span class='badge badge-primary'>
	      <%= calling_script.calls_count %>
            </span>
	  </div>
          <div class='col-xs-12 col-md-9 already'>
	    already called
	  </div>
	</div>
      </div>
      
      <div class='col-sm-7 mvm'>
        <% if calling_script.called_from_this_script?(uid) %>
	  <%= render 'calling_scripts/buttons/called',
:calling_script => calling_script %>
        <% else %>
	  <a href="<%= script_path(calling_script) %>"
	     class="btn btn-primary call"
	     >
	    <span class="glyphicon glyphicon-phone"></span>
	    Call Now!
	  </a>
	<% end %>
      </div>
      
    </div>
  </div>
</div>

