<%= awesome_share_buttons(
  calling_script.summary,
  :url => script_url(calling_script)) %>
<div class='jumbotron'>
  <h2><%= calling_script.topic %></h2>
  <div class='well'>
    <%= simple_format calling_script.summary %>
  </div>
  <%= simple_format calling_script.content %>
  <% if calling_script.notes? %>
    <div class='well notes'>
      <h3>Notes:</h3>
      <%= markdown.render(calling_script.notes).html_safe %>
    </div>
  <% end %>
  <p class='text-muted user-info'>
    <small>script by
      <a href="<%= calling_script.user_profile %>">
	<span
	   class='fa fa-<%= calling_script.user_provider.gsub("_oauth2", "") %>'>
	</span>
	<img src="<%= calling_script.user_picture %>" height="30" width="30">
      </a>
    </small>
  </p>
  <p class='text-muted user-info'>
    <small>
      created <%= calling_script.created_at.strftime("%B %e, %Y") %>
    </small>
  </p>
  <p>
    <% if can? :edit, calling_script %>
      <%= link_to edit_script_path(calling_script), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-edit"></span>
      Edit
    <% end %>
<% end %>
</p>
<p>
  <% if can? :archive, calling_script %>
    <%= link_to archive_script_path(calling_script), class: 'btn btn-primary' do %>
    <span class="glyphicons glyphicons-log-book"></span>
    Archive
  <% end %>
<% end %>
</p>

</div>

