<div class='jumbotron'>
  <h2><%= @calling_script.topic %></h2>
  <div class='well'>
    <%= @calling_script.summary %>
  </div>
  <%= simple_format @calling_script.content %>
  <p class='text-muted'>
    <small>script by
      <a href="<%= @calling_script.user.profile %>">
	<span class='fa fa-<%= @calling_script.user.provider.gsub("_oauth2", "") %>'></span>
	<img src="<%= @calling_script.user.picture %>" height="30" width="30">
      </a>
    </small>
  </p>
</div>

