
<div class='jumbotron'>
    <%= social_share_button_tag("Call your representatives about #{calling_script.topic}", :url => script_url(calling_script), :desc => calling_script.summary) %>

  <h2><%= calling_script.topic %></h2>

  <div class='well'>
    <%= simple_format calling_script.summary %>
  </div>
  <%= simple_format calling_script.content %>
  <% if calling_script.notes? %>
    <div class='well'>
      <h3>Notes:</h3>
      <%= @markdown.render(calling_script.notes).html_safe %>
    </div>
  <% end %>
  <p class='text-muted user-info'>
    <small>script by
      <a href="<%= calling_script.user.profile %>">
	<span class='fa fa-<%= calling_script.user.provider.gsub("_oauth2", "") %>'></span>
	<img src="<%= calling_script.user.picture %>" height="30" width="30">
      </a> &bull;
      	created <%= calling_script.created_at.strftime("%B %e, %Y") %>
    </small>
  </p>
</div>

