<div class="page-header">
  <%= link_to new_calling_script_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Script
  <% end %>
  <h2>Scripts Available</h2>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Topic</th>
	<th>Summary</th>
	<th></th>
        <th></th>
	<th></th>
	<th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @calling_scripts) do |calling_script| %>
            <td><%= calling_script.topic %></td>
            <td><%= calling_script.summary %></td>
            <td>
	      <%= link_to calling_script, class: 'btn btn-primary' do %>
	      <span class="glyphicon glyphicon-phone"></span>
	      Call Now!
      <% end %>
</td>
<td>
  <span class="label">
    Calls
    <span class='badge'>
      <%= calling_script.calls.size %>
    </span>
  </span>
</td>
<td>
  <a href="<%= calling_script.user.profile %>">
    <i class='fa fa-<%= calling_script.user.provider.gsub("_oauth2", "") %>'></i>
    <img src="<%= calling_script.user.picture %>" width="40" height="40" />
  </a>
</td>
<td>
  <% if can?(:edit, calling_script) %>
    <%= link_to edit_calling_script_path(calling_script), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
<% end %>
</td>
<% end %>
</tbody>
</table>
</div>
