<div class="page-header">
  <p>
  <%= link_to calling_scripts_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
<% end %>
<% if can?(:edit, @calling_script) %>
  <%= link_to edit_calling_script_path(@calling_script), class: 'btn btn-primary' do %>
  <span class="glyphicon glyphicon-pencil"></span>
  Edit
<% end %>
<% end %>
</p>
<p style='clear: both;'></p>
</div>


<div class='jumbotron'>
  <% if @representative %>
    <h1>Calling <%= @representative %></h1>
    <%= simple_format @calling_script.content % @substitutions %>
  <% elsif @representatives %>
    <form method="get">
      <fieldset class="form-group">
	<legend>Your Representatives</legend>
	<div class="form-check">
	  <% @representatives.each do |rep| %>
	    <label class="form-check-label">
              <input type="radio" class="form-check-input" value="<%= rep.fec_id %>" name="rep_id">
	      <strong><%= rep.chamber.titleize %></strong>
	      <%= rep.first_name %>
	      <%= rep.last_name %>
	    </label>
	  <% end %>
	  <button type="submit" class="btn btn-primary"><span class='glyphicon glyphicon-phone'></span>Call them!</button>
	</div>
	<input type="hidden" name="address" value="<%= params[:address] %>" />
	<input type="hidden" name="name" value="<%= params[:name] %>" />
    </form>
  <% else %>
    <h1>Call about <%= @calling_script.topic %></h1>
    <form method="get">
      <div class="form-group">
	<label for="name">Your Name</label>
	<input type="text" class="form-control" placeholder="Enter your name" />
	<input type="address" class="form-control" placeholder="Enter your address" />
	<small class="form-text text-muted">We don't store this information; it's just to find your representatives and populate .</small>
      </div>

      <button type="submit" class="btn btn-primary">Find my reps!</button>
    </form>
  <% end %>
</div>
